@model ForgetPasswordVM
@{
    ViewData["Title"] = "CompleteForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main-agileinfo">
    <div class="agileits-top">
       <div class="body">
            <div>
                Password reset link has beensent to your email. Please check your inbox,
                <a href="https://ethereal.email/messages">Click here!</a>
            </div>
       </div>
    </div>
</div>
